.parent{
    width:200px;
    height:150px;
    background-color: royalblue;
    margin: 20px;
    padding: 20px;
    overflow: auto;
    /* visible 내용 넘침
    hidden 잘라냄
    scroll 스크롤바 x,y축 둘 다 형성
    auto 넘치는 부분만 축 생성 */
}

.child{
    width:300px;
    height: 100px;
    background-color: orange;
}